.conatiner{
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
@media screen and (max-width: 760px) {
    .conatiner{
        width: 100vw;    
    }
}



.header{
    height: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.conatiner .mid-section {
    flex: 1;
    overflow-y: scroll; /* Always show the vertical scrollbar */
}

.userInput-outer{
    height: 100px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.userInput-outer #outlined-basic{
width: 60vw ;

}


.user_input_section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px 10px 10px;
}
.req_para{
border: 1px solid gray;
border-radius: 10px;
padding: 10px 10px 10px 10px;
text-align: justify;
}



