.conatiner {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media screen and (max-width: 760px) {
    .conatiner {
        width: 100vw;
    }
}



.header {
    height: 50px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.conatiner .mid-section {
    flex: 1;
    overflow-y: scroll;
    /* Always show the vertical scrollbar */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInput-outer {
    height: 100px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.userInput-outer #outlined-basic {
    width: 60vw;

}

.user_input_section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* Adjust padding as needed */
    background-color: #f0f0f0;
    /* Adjust background color as needed */
    width: 100%;
}

.chat{
    width: 100%;
}

.fixed-left,
.fixed-right {
    flex: 0 0 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.req_para {
    flex: 1;
    padding: 10px;
}

.user_output_Section {
    background-color: white
}

.sendBtn{
    cursor: pointer;
}